<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/logo-funteman.png" alt="Funteman Logo" class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" aria-current="page">{{ 'HEADER.HOME' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/facilities" routerLinkActive="active">{{ 'HEADER.FACILITIES' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donations" routerLinkActive="active">{{ 'HEADER.DONATIONS' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" routerLinkActive="active">{{ 'HEADER.ABOUT_US' | translate }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ 'HEADER.LANGUAGE' | translate }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="switchLanguage('es')">{{ 'HEADER.SPANISH' | translate }}</a></li>
            <li><a class="dropdown-item" (click)="switchLanguage('en')">{{ 'HEADER.ENGLISH' | translate }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
