<div class="donation-container">
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="donation-title">{{ 'DONATIONS.TITLE' | translate }}</h2>
        <p class="donation-text">{{ 'DONATIONS.TEXT1' | translate }}</p>
        <p class="donation-text">{{ 'DONATIONS.TEXT2' | translate }}</p>
        <ul class="donation-list">
          <li><strong>{{ 'DONATIONS.LIST.RUC' | translate }}</strong></li>
          <li><strong>{{ 'DONATIONS.LIST.EMAIL' | translate }}</strong></li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <div class="donation-image">
          <a href="https://api.whatsapp.com/send?phone=593985118284&text=Hola%2C%20vengo%20desde%20la%20Pagina%20Web.%20Quiero%20realizar%20una%20donaci%C3%B3n."
            class="btn btn-gradient">
            <img src="../../assets/iconos/donaciones.webp" class="img-fluid" alt="Donaciones">
          </a>
        </div>
        <a href="https://api.whatsapp.com/send?phone=593985118284&text=Hola%2C%20vengo%20desde%20la%20Pagina%20Web.%20Quiero%20realizar%20una%20donaci%C3%B3n."
          class="btn btn-gradient">{{ 'DONATIONS.BUTTON' | translate }}</a>
      </div>
    </div>
  </div>
</div>